<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wan.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="r.W"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WanAndroid">

        <provider
            android:name="androidx.startup.InitializationProvider"
            tools:node="merge"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false">
            <meta-data
                android:name="com.wan.android.provider.WanAppInitializer"
                android:value="androidx.startup" />
        </provider>

        <activity
            android:name="j.J"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="d.D" />

        <activity android:name="k.K" />

        <activity android:name="a.A" />

        <activity android:name="c.C" />

        <activity android:name="h.H" />

        <activity android:name="b.B"/>

        <activity android:name="g.G"/>

        <activity android:name="s.X"/>

        <activity android:name="e.E"/>

        <activity android:name="i.I"/>

        <activity android:name="f.F"/>
    </application>

</manifest>